<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/animate.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type='text/javascript'>
      //<![CDATA[
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-27099587-1']);
        _gaq.push(['_setDomainName', 'quickleft.com']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      //]]>
    </script>
  </head>
  <body>

    <h1><%= title %></h1>

    <div id="content">
      <p>One Friday afternoon, <a href="http://twitter.com/missbikesalot" target="_blank">Rachel</a> and <a href="http://twitter.com/virtuallybing" target="_blank">Bing</a> were playing a game by combining startup names by chaining prefix and suffix compounds. <a href="http://twitter.com/nico_valencia" target="_blank">Nico</a> and <a href="http://twitter.com/khalsah" target="_blank">Hargobind</a> started hacking on some code to let the computers play too.</p>
      <p>THE STARTUP is a showcase of the longest chained company name created to date. Underlying randomly iterated algorithms have generated the following chain.</p>
      <p>Feel free to fork our <a href="https://github.com/quickleft/thestartup" target="_blank">hacked together code</a> and write your own to find a longer chain!</p>

      <ul id="stats">
        <li class="chain">
          <span class="type">Longest</span> Chain [<span class="current">1</span>/<span class="total">1</span>]
        </li>
      </ul>

			<span class="contributor"></span>

			<div class="btns">
				<a data-category="longest" class="btn active">Longest</a>
				<a data-category="random" class="btn">Random</a>
			</div>

      <a href="https://github.com/quickleft/thestartup" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub" />
      </a>
    </div>

    <div id="canvas"></div>

    <a id="ql" href="http://quickleft.com" target="_blank">Quick Left</a>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.10.2.min.js"><\/script>')</script>
    <script src="javascripts/vendor/underscore-1.5.1.min.js"></script>

    <script src="javascripts/main.js"></script>

    <!-- HUBSPOT -->
    <script type="text/javascript">
      (function(d,s,i,r) {
        if (d.getElementById(i)){return;}
        var n=d.createElement(s),e=d.getElementsByTagName(s)[0];
        n.id=i;n.src='//js.hubspot.com/analytics/'+(Math.ceil(new Date()/r)*r)+'/219394.js';
        e.parentNode.insertBefore(n, e);
      })(document,"script","hs-analytics",300000);
    </script>

  </body>
</html>
