body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
h1 {
  color: #ff6b6b;
}
a {
  color: #556270;
}
p {
  width: 400px;
}
#stats {
  float: left;
  clear: both;
  text-transform: uppercase;
  font-size: 120%;
  font-weight: bold;
  padding: 20px 0 30px;
  margin: 0;
}
#stats li {
  float: left;
  clear: none;
  list-style: none;
}
#stats li.longest {
  color: #4ecdc4;
}
#stats li.separator {
  padding: 0 20px;
  color: #556270;
}
#stats li.current {
  color: #c7f464;
}
a#ql {
  position: absolute;
  left: 58px;
  bottom: 58px;
  display: block;
  text-indent: -9000em;
  width: 50px;
  height: 50px;
  background: url('../images/quickleft.png') no-repeat;
}
#canvas {
  float: left;
  clear: both;
}
#canvas.show span.first {
  width: 50px;
}
#canvas.show span.overlap {
  width: 50px;
}
#canvas.show span.second {
  width: 0;
  margin-right: 0;
}
#canvas.stage span.first {
  background-color: #fff;
}
#canvas.stage span.second {
  width: 50px;
}
#canvas.advance span.first {
  width: 0;
  margin-right: 0;
  background-color: #fff;
}
#canvas.advance span.second {
  width: 50px;
}
#canvas.reset span.first {
  width: 0;
  margin-right: 0;
}
#canvas.reset span.overlap {
  width: 50px;
}
#canvas span {
  float: left;
  clear: none;
  font-size: 120%;
  width: 50px;
  height: 30px;
  padding-top: 10px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #efefef;
  overflow: hidden;
  text-align: center;
  transition: all 0.5s;
}
